
<nav class="navbar navbar-expand-sm navbar-dark bg-black">
    <div class="container px-5">
        <a class="navbar-brand" routerLink="/"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul *ngIf="isAdmin" class="navbar-nav me-auto">
                <!-- <li class="nav-item">
                  <a routerLink="/" class="nav-link active"><mat-icon>home</mat-icon></a>
                </li> -->
                <li class="nav-item">
                  <a routerLink="/colaboradores" class="nav-link active">Colaboradores</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/proyectos" class="nav-link active">Proyectos</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/asignaciones" class="nav-link active">Asignaciones</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/reporte" class="nav-link active">Reporte</a>
                </li>
            </ul>
            <ul *ngIf="isDevelop" class="navbar-nav me-auto">
              <!-- <li class="nav-item">
                <a routerLink="/" class="nav-link active"><mat-icon>home</mat-icon></a>
              </li> -->
              <li class="nav-item">
                <a routerLink="/asignacionReal" class="nav-link active">Asignacion Real</a>
              </li>
              <li class="nav-item">
                <a routerLink="/reporte" class="nav-link active">Reporte</a>
              </li>
            </ul>
            <div fxLayout="row" fxLayout.sm="column">
              <div fxFlex="80%" fxFlex.sm="100%">
                  <div>
                    <input class="form-control me-2" disabled type="text" placeholder="{{email}}">
                  </div>
              </div>
              <div fxFlex="20%" fxFlex.sm="100%">
                <div>
 


                  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon color="primary">expand_more</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button *ngIf="isAdmin" mat-menu-item (click)="openDialog()">
                      <mat-icon>vpn_key</mat-icon>
                      <span>Cambiar contraseña</span>
                    </button>
                    <button *ngIf="isAdmin" mat-menu-item (click)="openDialogAdmin()">
                      <mat-icon>supervisor_account</mat-icon>
                      <span>Agregar Administrador</span>
                    </button>
                    <button *ngIf="isAdmin && isNotRoot" mat-menu-item (click)="openDialogDeleteAdmin()">
                      <mat-icon>delete_forever</mat-icon>
                      <span>Eliminar cuenta</span>
                    </button>
                    <button *ngIf="isDevelop" mat-menu-item (click)="openDialog()">
                      <mat-icon>vpn_key</mat-icon>
                      <span>Cambiar contraseña</span>
                    </button>
                    <button mat-menu-item (click)="salir()">
                      <mat-icon>exit_to_app</mat-icon>
                      <span>Cerrar sesión</span>
                    </button>
                  </mat-menu>
                </div>
            </div>
            </div>
        </div>
    </div>
  </nav>
