<div class="dates p-3">
    <h2 class="titulo">Reporte de asignaciones</h2>
    <div class="form-field">
        <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Intervalo de fechas</mat-label>
            <mat-date-range-input class="daterange" [formGroup]="Intervalo" [rangePicker]="campaignOnePicker"
                [comparisonStart]="Intervalo.value.start" [comparisonEnd]="Intervalo.value.end">
                <input readonly="true" matStartDate placeholder="Start date" formControlName="start">
                <input readonly="true" matEndDate placeholder="End date" formControlName="end">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
            <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
        </mat-form-field>
        <br>
        <div style="padding: 10px;">

            <button style="margin-right: 10px;" mat-flat-button (click)="Consultar()">Consultar</button>

        </div>
    </div>

    <div *ngIf="this.Reporte!=null" class="infoDates p-4">
        <div>
            <h2>Dias laborales totales: {{this.Reporte.response.diastotales}}</h2>
        </div>
        <div style="width: 100%;">
            <h2 style="display: inline-block;width: 7%;">{{this.Reporte.response.porcentaje.toFixed(2)}}%</h2>

            <mat-progress-bar style="display: inline-block;
            width: 85%; margin-left: 5%;" mode="determinate" [ngClass]="this.Reporte.response.porcentaje<100 ?
             'red' : 'green'" [value]="this.Reporte.response.porcentaje">
            </mat-progress-bar>
            <h3 style="color: #800000;" *ngIf="this.Reporte.response.porcentaje<100">Existen colaboradores con registros
                incompletos</h3>
        </div>

    </div>
</div>


<div *ngIf="this.Reporte!=null" class="container p-3">

    <table style="width: 100%;" mat-table [dataSource]="this.dataSource">
        <ng-container matColumnDef="colaborador">
            <th class="" style="width: 60%; vertical-align: bottom;" mat-header-cell *matHeaderCellDef>
                <div class="mb-5">
                    <h2 style="color: black;font-weight: bold;" class="titulo">Colaboradores
                        <!-- <button style="margin-bottom: 10px;" mat-flat-button (click)="generateExcel()">
                            
                        </button> -->

                        <button mat-raised-button (click)="generateExcel()">
                            <mat-icon>save_alt</mat-icon>
                            <span> Generar reporte</span>
                        </button>
                    </h2>
                </div>
            </th>
            <td class='has_label_on_mobile' data-label='' mat-cell *matCellDef="let item">
                <div [ngClass]="item.complete<100 ?
                'colaboradorRed' : 'colaborador'" class="pe-5 ps-5 pt-4 pb-4">
                    <h2 style="font-weight: bold;" [ngClass]="item.complete<100 ?
                    'textWarn' : ''">{{item.id_odoo}}&nbsp;&nbsp;-&nbsp;&nbsp;{{item.colaborador}} </h2>
                    <h3 class="diastrabajados"><span style="font-weight: bold;">Dias reportados:
                        </span>{{item.diasTrabajados.toFixed(2)}}</h3>
                    <br>
                    <span style="font-weight: bold; display: inline-block;">{{item.complete.toFixed(2)}}%</span>
                    <mat-progress-bar style="display: inline-block;
                    width: 90%; margin-left: 20px;" mode="determinate" [ngClass]="item.complete<100 ?
                     'red' : 'green'" [value]="item.complete">
                    </mat-progress-bar>
                    <br>
                    <div class="ps-5 pe-5 pt-4 pb-3">
                        <table *ngIf="item.asignaciones.length>0" style="width: 100%;" mat-table
                            [dataSource]="item.asignaciones" class="p-5">
                            <ng-container matColumnDef="Id">
                                <th class="columna" style="width: 20%;" mat-header-cell *matHeaderCellDef> <span
                                        class="th">Clave</span> </th>
                                <td class='has_label_on_mobile' data-label='Titulo: ' mat-cell *matCellDef="let element">
                                    {{element.clave}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Titulo">
                                <th class="columna" style="width: 20%;" mat-header-cell *matHeaderCellDef> <span
                                        class="th">Titulo</span> </th>
                                <td class='has_label_on_mobile' data-label='Titulo: ' mat-cell *matCellDef="let element">
                                    {{element.titulo}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Dias">
                                <th class="columna" style="width: 20%;" mat-header-cell *matHeaderCellDef> <span
                                        class="th">Dias reportados</span> </th>
                                <td class='has_label_on_mobile' data-label='Titulo: ' mat-cell *matCellDef="let element">
                                    {{element.dias.toFixed(2)}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Porcentaje">
                                <th class="columna" style="width: 20%;" mat-header-cell *matHeaderCellDef> <span
                                        class="th">Porcentaje</span> </th>
                                <td class='has_label_on_mobile' data-label='Titulo: ' mat-cell *matCellDef="let element">
                                    {{element.porcentaje.toFixed(2)}}% </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsProyectos"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsProyectos;"></tr>
                        </table>
                    </div>
                    <mat-accordion *ngIf="item.diasfaltantes.length>0" >
                        <mat-expansion-panel class="accordion" (opened)="panelOpenState = true"
                                             (closed)="panelOpenState = false">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                                <p class="textWarn">Periodos no reportados</p>
                                
                            </mat-panel-title>
                            <mat-panel-description>
                              {{panelOpenState ? '' : ''}}
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <div class="ps-5 pe-5 pt-4 pb-3">
                            <table *ngIf="item.diasfaltantes.length>0" style="width: 100%;" mat-table
                                [dataSource]="item.diasfaltantes" class="p-5">
                                <ng-container matColumnDef="Inicio">
                                    <th class="columna" style="width: 20%;" mat-header-cell *matHeaderCellDef> <span
                                            class="th">Inicio</span> </th>
                                    <td class='has_label_on_mobile' data-label='Titulo: ' mat-cell *matCellDef="let element">
                                        {{element.inicio!=null? element.inicio.getDate()+"-"+(element.inicio.getMonth() + 1)+"-"+element.inicio.getFullYear():""}} </td>
                                </ng-container>
                                <ng-container matColumnDef="Final">
                                    <th class="columna" style="width: 20%;" mat-header-cell *matHeaderCellDef> <span
                                            class="th">Final</span> </th>
                                    <td class='has_label_on_mobile' data-label='Titulo: ' mat-cell *matCellDef="let element">
                                        {{element.final!=null? element.final.getDate()+"-"+(element.final.getMonth() + 1)+"-"+element.final.getFullYear():""}} </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumnsDiasFaltantes"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsDiasFaltantes;"></tr>
                            </table>
                        </div>
                        </mat-expansion-panel>
                      </mat-accordion>

                </div>

            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>
<mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
</mat-paginator>