<section class="gradient-custom pt-1 pb-5">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-black text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h1 class="fw-bold mb-2 text-uppercase">Login</h1>

                <form [formGroup]="formGroup" class="mt-4">
                <div class="">
                    <mat-form-field appearance="outline" class="border-white">
                        <mat-label>Email</mat-label>
                        <input matInput maxlength="100" formControlName="email"/>
                      </mat-form-field>
                </div>
  
                <div class="mb-4">
                    <mat-form-field appearance="outline" class="border-white">
                        <mat-label>Contraseña</mat-label>
                        <input type="password" matInput maxlength="100" formControlName="password" />
                      </mat-form-field>
                </div>
  
                <!-- <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p> -->
  
                <button class="btn btn-outline-light btn-lg px-5" type="submit" (click)="onSubmit()">Login</button>
                <br>
                <button mat-button (click)="openDialog()">¿Olvido su contraseña?</button>
                </form>

              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>