<div class="cat-title">
    <ul style="padding-left: 0px;">
      <li>Agregar Colaborador</li>
    </ul>
  </div>
  <mat-dialog-content class="">
    <form class="form item" [formGroup]="formGroup">
      <div fxLayout="row" fxLayout.sm="column">
        <div fxFlex="50%" fxFlex.sm="100%">
          <mat-form-field appearance="fill">
            <mat-label>Nombre(s)</mat-label>
            <input matInput maxlength="100" formControlName="nombres" />
          </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.sm="100%">
          <mat-form-field appearance="fill">
            <mat-label>Apellidos</mat-label>
            <input matInput maxlength="100" formControlName="apellidos" />
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayout.sm="column">
        <div fxFlex="50%" fxFlex.sm="100%">
          <mat-form-field appearance="fill">
            <mat-label>CURP</mat-label>
            <input matInput maxlength="18" formControlName="curp" />
          </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.sm="100%">
          <mat-form-field appearance="fill">
            <mat-label>RFC</mat-label>
            <input matInput maxlength="12" formControlName="rfc" />
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayout.sm="column">
        <div fxFlex="100%" fxFlex.sm="100%">
          <mat-form-field appearance="fill">
            <mat-label>Clave Odoo</mat-label>
            <input matInput maxlength="50" formControlName="id_odoo" />
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="warn" mat-dialog-close>
      Cancelar
    </button>
    <button mat-raised-button color="primary" (click)="onSubmit()">
      <mat-icon>save</mat-icon>
      Guardar
    </button>
  </mat-dialog-actions>
