<div class="cat-title">
    <ul style="padding-left: 0px;">
      <li>Detalle de Colaborador {{nombre_colaborador}}</li>
    </ul>
  </div>
  <mat-dialog-content class="">
    <form class="form item" [formGroup]="formGroup">
      <div fxLayout="row" fxLayout.sm="column">
        <div fxFlex="50%" fxFlex.sm="100%">
          <mat-form-field appearance="fill">
            <mat-label>Nombre(s)</mat-label>
            <input [readonly]="true" matInput maxlength="100" formControlName="nombres" />
          </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.sm="100%">
          <mat-form-field appearance="fill">
            <mat-label>Apellidos</mat-label>
            <input [readonly]="true" matInput maxlength="100" formControlName="apellidos" />
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayout.sm="column">
        <div fxFlex="50%" fxFlex.sm="100%">
          <mat-form-field  appearance="fill">
            <mat-label>CURP</mat-label>
            <input [readonly]="true" matInput maxlength="18" formControlName="curp" />
          </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.sm="100%">
          <mat-form-field appearance="fill">
            <mat-label>Clave Odoo</mat-label>
            <input [readonly]="true" matInput maxlength="50" formControlName="id_odoo" />
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayout.sm="column">
        <div fxFlex="50%" fxFlex.sm="100%">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input [readonly]="true" matInput maxlength="100" formControlName="email" />
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-dialog-content>

  <!-- <h2>Asignación en curso</h2>

  <mat-dialog-content class="">
    <form class="form item" [formGroup]="formGroup">
      <div fxLayout="row" fxLayout.sm="column">
        <div fxFlex="50%" fxFlex.sm="100%">
            <mat-form-field appearance="fill">
                <mat-label>Fecha Inicio</mat-label>
                <input  matInput formControlName="fecha_Inicio" [matDatepicker]="picker">
                
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.sm="100%">
            <mat-form-field appearance="fill">
                <mat-label>Fecha Inicio</mat-label>
                <input matInput formControlName="fecha_Final" [matDatepicker]="picker2">
                
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
        </div>
      </div>
      <table mat-table [dataSource]="dataSource" class="cat-tbl-search">
  
        <ng-container matColumnDef="Proyecto">
          <th class="columna" style="width: 18%;" mat-header-cell *matHeaderCellDef> Titulo </th>
          <td  mat-cell *matCellDef="let element"> {{element.titulo}} </td>
        </ng-container>

        <ng-container matColumnDef="Clave_Odoo">
          <th class="columna" style="width: 18%;" mat-header-cell *matHeaderCellDef> Clave Odoo</th>
          <td   mat-cell *matCellDef="let element"> {{element.clave}} </td>
        </ng-container>

        <ng-container matColumnDef="Porcentaje">
          <th class="columna" style="width: 18%;" mat-header-cell *matHeaderCellDef> Porcentaje</th>
          <td  mat-cell *matCellDef="let element; let index = index;"> 
            <mat-form-field appearance="outline" fxFlexFill>
            <input [readonly]="true" type="number" [max]="100" [min]="1" matInput [(ngModel)]="ProyectosAsignados[index].porcentaje"  [ngModelOptions]="{standalone: true}" />
          </mat-form-field> 
        </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </form>
  </mat-dialog-content> -->



  <mat-dialog-actions align="end">
    <button  mat-raised-button color="warn" mat-dialog-close>
        Cerrar
      </button>
  </mat-dialog-actions>
