<div class="cat-title">
    <ul style="padding-left: 0px;">
      <li>Detalle Asignación Real</li>
    </ul>
  </div>
  <mat-dialog-content class="">
    <form class="form item" [formGroup]="formGroup">
<div fxLayout="row" fxLayout.sm="column">
        <div fxFlex="50%" fxFlex.sm="100%">
            <mat-form-field appearance="outline">
                <mat-label>Fecha Inicio</mat-label>
                <input matInput formControlName="fecha_inicio" [matDatepicker]="picker" [readonly]="true">
                <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle> -->
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.sm="100%">
            <mat-form-field appearance="outline">
                <mat-label>Fecha Fin</mat-label>
                <input matInput formControlName="fecha_final" [matDatepicker]="picker2" [readonly]="true">
                <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                <!-- <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle> -->
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
        </div>
      </div>
      <!-- <div fxLayout="row" fxLayout.sm="column">
        <div fxFlex="50%" fxFlex.sm="100%">
            <mat-form-field appearance="fill" >
                <mat-label>Colaborador</mat-label>
                <input type="text" matInput [readonly]="true" formControlName="colaborador" >
            </mat-form-field>
        </div>
      </div> -->
      <table mat-table [dataSource]="dataSource" class="cat-tbl-search">
  
        <ng-container matColumnDef="Proyecto">
          <th class="columna" style="width: 18%;" mat-header-cell *matHeaderCellDef> Titulo </th>
          <td  mat-cell *matCellDef="let element"> {{element.titulo}} </td>
        </ng-container>

        <ng-container matColumnDef="Clave_Odoo">
          <th class="columna" style="width: 18%;" mat-header-cell *matHeaderCellDef> Clave Odoo</th>
          <td   mat-cell *matCellDef="let element"> {{element.clave}} </td>
        </ng-container>

        <ng-container matColumnDef="Porcentaje">
          <th class="columna" style="width: 18%;" mat-header-cell *matHeaderCellDef> Porcentaje</th>
          <td  mat-cell *matCellDef="let element; let index = index;"> 
            <mat-form-field appearance="outline" fxFlexFill>
            <input type="number" [max]="100" [min]="1" matInput [(ngModel)]="ProyectosAsignados[index].porcentaje"  [ngModelOptions]="{standalone: true}"[readonly]="true" />
          </mat-form-field> 
        </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="primary" cdkFocusInitial>
      Cancelar
    </button>
  </mat-dialog-actions>
