<div class="cat-title">
    <ul style="padding-left: 0px;">
      <li>Detalles Proyecto</li>
    </ul>
  </div>
  <mat-dialog-content class="">
    <form class="form item" [formGroup]="formGroup">
      <div fxLayout="row" fxLayout.sm="column">
            <div fxFlex="70%" fxFlex.sm="100%">
                <mat-form-field appearance="fill">
                    <mat-label>Titulo</mat-label>
                    <input [readonly]="true" matInput maxlength="100" formControlName="titulo"/>
                </mat-form-field>
            </div>
            <div fxFlex="30%" fxFlex.sm="100%">
                <mat-form-field appearance="fill">
                    <mat-label>Clave Odoo</mat-label>
                    <input [readonly]="true" matInput maxlength="5" formControlName="clave"/>
                </mat-form-field>
            </div>
        </div>
    </form>
    <div *ngIf="this.data.proyecto.colaboradoresAsignados!=null">
      <h2>Colaboradores asignados</h2>
      <table mat-table [dataSource]="this.data.proyecto.colaboradoresAsignados" class="cat-tbl-search">
    
        <ng-container matColumnDef="Nombres">
          <th class="columna" style="width: 18%;" mat-header-cell *matHeaderCellDef> Nombres </th>
          <td  mat-cell *matCellDef="let element"> {{element.nombres}} </td>
        </ng-container>
  
        <ng-container matColumnDef="Apellidos">
          <th class="columna" style="width: 18%;" mat-header-cell *matHeaderCellDef> Apellidos</th>
          <td   mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
        </ng-container>

        <ng-container matColumnDef="ClaveOdoo">
          <th class="columna" style="width: 18%;" mat-header-cell *matHeaderCellDef> Clave Odoo</th>
          <td   mat-cell *matCellDef="let element"> {{element.claveOdoo}} </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumnsColaboradores"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsColaboradores;"></tr>
  
      </table>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="primary" cdkFocusInitial>
      Cerrar
    </button>
  </mat-dialog-actions>