<div class="row">
  <div class="col-sm-6">
      <div class="card bg-light">
          <div class="card-body">
              <h5 class="card-title">Colaboradores</h5>
              <p class="card-text">---</p>
              <a routerLink="/productos" class="btn btn-warning btn-lg">Ver</a>
              
          </div>
      </div>
  </div>
  <div class="col-sm-6">
      <div class="card bg-light">
          <div class="card-body">
              <h5 class="card-title">Proyectos</h5>
              <p class="card-text">---</p>
              <a routerLink="/ventas" class="btn btn-warning btn-lg">Ver</a>
          </div>
      </div>
  </div>
</div>
<br>
<br>
 
<br>
<br>
<br>
<br>
