<div class="row d-flex">
  <div class="col-sm-3">
      <div class="card" style="background-color: rgb(156, 156, 156);">
          <div class="card-body">
            <div class="cat-title">
                <ul>
                    <li>Colaboradores</li>
                </ul>
            </div>
            <div class="text-end">
                <a mat-fab color="" routerLink="/colaboradores"><i class="material-icons">people_alt</i></a>
            </div>
          </div>
      </div>
  </div>
  <div class="col-sm-3">
      <div class="card" style="background-color: rgb(156, 156, 156);">
          <div class="card-body ">
                <div class="cat-title">
                    <ul>
                        <li>Proyectos</li>
                    </ul>
                </div>
                <div class="text-end">
                    <a mat-fab color="" routerLink="/proyectos"><i class="material-icons">assignment</i></a>
                </div>
          </div>
      </div>
  </div>
  <div class="col-sm-3">
    <div class="card" style="background-color: rgb(156, 156, 156);">
        <div class="card-body ">
              <div class="cat-title">
                  <ul>
                      <li>Asignaciones Planeadas</li>
                  </ul>
              </div>
              <div class="text-end">
                  <a mat-fab color="" routerLink="/asignaciones"><i class="material-icons">assignment_ind</i></a>
              </div>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="card" style="background-color: rgb(156, 156, 156);">
        <div class="card-body ">
              <div class="cat-title">
                  <ul>
                      <li>Reporte</li>
                  </ul>
              </div>
              <div class="text-end">
                  <a mat-fab color="" routerLink="/reporte"><i class="material-icons">calendar_month</i></a>
              </div>
        </div>
    </div>
</div>
</div>
<br>
<br>
 
<br>
<br>
<br>
<br>
