<div class="row d-flex">
  <div class="col-sm-3">
      <div class="card bg-light">
          <div class="card-body">
            <div class="cat-title">
                <ul>
                    <li>Colaboradores</li>
                </ul>
            </div>
            <div class="text-end">
                <a mat-fab color="" routerLink="/colaboradores"><mat-icon>bookmark</mat-icon></a>
            </div>
          </div>
      </div>
  </div>
  <div class="col-sm-3">
      <div class="card bg-light">
          <div class="card-body ">
                <div class="cat-title">
                    <ul>
                        <li>Proyectos</li>
                    </ul>
                </div>
                <div class="text-end">
                    <a mat-fab color="" routerLink="/proyectos"><mat-icon>bookmark</mat-icon></a>
                </div>
          </div>
      </div>
  </div>
  <div class="col-sm-3">
    <div class="card bg-light">
        <div class="card-body ">
              <div class="cat-title">
                  <ul>
                      <li>Asignaciones</li>
                  </ul>
              </div>
              <div class="text-end">
                  <a mat-fab color="" routerLink="/asignaciones"><mat-icon>bookmark</mat-icon></a>
              </div>
        </div>
    </div>
</div>
</div>
<br>
<br>
 
<br>
<br>
<br>
<br>
