<div class="cat-title">
  <ul style="padding-left: 0px;">
    <li>Cambiar Contraseña</li>
  </ul>
</div>
<!-- <h2 mat-dialog-title>Agregar Colaborador</h2> -->
<mat-dialog-content class="">
  <form class="form item" [formGroup]="formGroup">
    <div fxLayout="row" fxLayout.sm="column">
      <div fxFlex="100%" fxFlex.sm="100%">
        <mat-form-field appearance="outline" class="border-white">
          <mat-label>Contraseña actual</mat-label>
          <input type="password" matInput maxlength="100" formControlName="password"/>
        </mat-form-field>
      </div>
    </div> 
    <div fxLayout="row" fxLayout.sm="column">
      <div fxFlex="100%" fxFlex.sm="100%">


        <!-- <mat-form-field appearance="outline" class="border-white">
          <mat-label>Nueva Contraseña</mat-label>
          <input type="password" matInput maxlength="100" formControlName="nPassword"/>
        </mat-form-field> -->

        <mat-form-field class="mat-form-field" appearance="outline">
          <mat-label>Nueva contraseña</mat-label>
            <input matInput type="password" autocomplete="off" formControlName="nPassword" class="form-control"
              style="width:94% ;"
              [ngClass]="{'is-invalid':formGroup.get('nPassword')!.errors && formGroup.get('nPassword')!.dirty}">
            <div class="invalid-feedback" *ngIf="formGroup.get('nPassword')!.hasError('hasNumber')">
              La contraseña debe contener al menos un número.
            </div>
            <div class="invalid-feedback" *ngIf="formGroup.get('nPassword')!.hasError('hasCapitalCase')">
              La contraseña debe contener al menos una mayúscula.
            </div>
            <div class="invalid-feedback" *ngIf="formGroup.get('nPassword')!.hasError('hasSpecialCharacters')">
              La contraseña debe contener al menos un carácter especial.
            </div>
            <div class="invalid-feedback" *ngIf="formGroup.get('nPassword')!.hasError('minlength')">
              La contraseña debe contener al menos 8 caracteres.
            </div>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayout.sm="column">
      <div fxFlex="100%" fxFlex.sm="100%">


        <!-- <mat-form-field appearance="outline" class="border-white">
          <mat-label>Confirmar Contraseña</mat-label>
          <input type="password" matInput maxlength="100" formControlName="nPasswordConfirm"/>
        </mat-form-field> -->


        <mat-form-field class="mat-form-field" appearance="outline">
          <mat-label>Confirmar contraseña</mat-label>
            <input matInput type="password" autocomplete="off" formControlName="nPasswordConfirm" class="form-control"
              style="width:94%;"
              [ngClass]="{'is-invalid':formGroup.get('nPasswordConfirm')!.errors && formGroup.get('nPasswordConfirm')!.dirty}">
            <div class="invalid-feedback" *ngIf="formGroup.get('nPasswordConfirm')!.hasError('passwordMismatch')">
              Las contraseñas no coinciden.
            </div>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>
    Cancelar
  </button>
  <button mat-button color="primary" (click)="onSubmit()" [disabled]="formGroup.invalid">
    <mat-icon>save</mat-icon>
    Aceptar
  </button>
</mat-dialog-actions>
