<div class="cat-title">
  <ul style="padding-left: 0px;">
    <li>Cambiar Contraseña</li>
  </ul>
</div>
<!-- <h2 mat-dialog-title>Agregar Colaborador</h2> -->
<mat-dialog-content class="">
  <form class="form item" [formGroup]="formGroup">
    <div fxLayout="row" fxLayout.sm="column">
      <div fxFlex="100%" fxFlex.sm="100%">
        <mat-form-field appearance="outline" class="border-white">
          <mat-label>Contraseña actual</mat-label>
          <input type="password" matInput maxlength="100" formControlName="password"/>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayout.sm="column">
      <div fxFlex="100%" fxFlex.sm="100%">
        <mat-form-field appearance="outline" class="border-white">
          <mat-label>Nueva Contraseña</mat-label>
          <input type="password" matInput maxlength="100" formControlName="nPassword"/>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayout.sm="column">
      <div fxFlex="100%" fxFlex.sm="100%">
        <mat-form-field appearance="outline" class="border-white">
          <mat-label>Confirmar Contraseña</mat-label>
          <input type="password" matInput maxlength="100" formControlName="nPasswordConfirm"/>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close>
    Cancelar
  </button>
  <button mat-raised-button color="primary" (click)="onSubmit()">
    <mat-icon>save</mat-icon>
    Aceptar
  </button>
</mat-dialog-actions>
