<div class="container">
    <form [formGroup]="formGroup">
        <div class="">
            <mat-form-field appearance="outline" class="border-white">
                <mat-label>Contraseña actual</mat-label>
                <input matInput maxlength="100" formControlName="password"/>
              </mat-form-field>
              <mat-form-field appearance="outline" class="border-white">
                <mat-label>Contraseña nueva</mat-label>
                <input matInput maxlength="100" formControlName="nPassword"/>
              </mat-form-field>
        </div>
        
        <button class="btn btn-outline-light btn-lg px-5" type="submit" (click)="onSubmit()">Cambiar</button>
        </form>
</div>
